.git
.github
.idea
.vscode

backend/node_modules
backend/dist
backend/coverage
backend/.env
backend/.env.*

frontend/node_modules
frontend/dist
frontend/.angular

node_modules
dist
coverage
npm-debug.log
