# Application Configuration
APP_PORT=

# PostgreSQL Configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# pgAdmin Configuration
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# JWT Secrets
JWT_SECRET=
JWT_REFRESH_SECRET=
