# Application Configuration
APP_PORT=
NODE_ENV=

# PostgreSQL Configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# PgAdmin Configuration
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# JWT Secrets
JWT_SECRET=
JWT_REFRESH_SECRET=

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_DEFAULT_CURRENCY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

# Mailjet Configuration
MAILJET_API_KEY=
MAILJET_API_SECRET=
MAILJET_SANDBOX=
MAILJET_SENDER_EMAIL=
MAILJET_SENDER_NAME=