<section class="auth-view">
  <div class="auth-layout">
    <main class="auth-layout__frame">
      <section class="auth-card" [class.auth-card--compact]="compact()">
        <div class="auth-card__hero">
          <div class="auth-card__badge">
            <ng-content select="[badgeIcon]" />
          </div>
          <h1>{{ title() }}</h1>
          <p>{{ subtitle() }}</p>
        </div>

        <div class="auth-card__body">
          <ng-content />
        </div>
      </section>
    </main>
  </div>
</section>
